spring:
  profiles:
    active: dev
    include:
      - credentials
  main:
    banner-mode: "off"
camel:
  dataformat:
    csv:
      enabled: true
      delimiter: ','
      skip-header-record: true
  springboot:
    main-run-controller: true
logging:
  level:
    org.springframework.boot: ERROR
    org.apache.camel: ERROR
    com.akalinkou.hockey.resultsupdater: INFO